<div class="container">

    <div>
        <a href="/bright_ideas">Bright Ideas</a>
        <a href="/logout">Logout</a>
    </div>
    
    <p>
        Name: @ViewBag.Name
    </p>
    <p>
        Alias: @ViewBag.alias
    </p>
    <p>Email: @ViewBag.email</p>
    <hr>
    <p>Total Number of Posts: @ViewBag.totalPosts </p>
    <p>
        Total Number of Likes: @ViewBag.totalLikes
    </p>
</div>